<ion-header>
	<ion-toolbar color="success">
		<ion-title>Quotes</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-searchbar [(ngModel)]="author" (ionChange)="search($event)" placeholder="Search: type the whole name">
	</ion-searchbar>

	<ion-list>
		<ion-item button detail lines="inset" *ngFor="let quote of quotes | async" (click)="(quote)">
			<ion-label>
				<h4> {{ quote.quote }}</h4>
				<p> {{ quote.author }} </p>
			</ion-label>
		</ion-item>
	</ion-list>

</ion-content>