ion-content {
    --background: rgb(0, 0, 0, 0.5);
    --background: url(/assets/img/BrBa.jpg) no-repeat 100%/cover fixed;    
}
ion-list{
    background-color:rgba(163, 207, 134, 0.2);

}
  
ion-item {
    --background: rgba(163, 207, 134, 0.2);
}

ion-searchbar{
    background-color:rgba(163, 207, 134, 0.2);
}