<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/deaths"></ion-back-button>
		</ion-buttons>
		<ion-title>Deaths Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="death">

		<ion-item>
			<ion-icon name="person-sharp" slot="start"></ion-icon>
			<ion-label><strong>Responsible: </strong>{{ death.responsible }}</ion-label>
		</ion-item>

		<ion-item>
			<ion-icon name="skull" slot="start"></ion-icon>
			<ion-label><strong>Number of deahts: </strong>{{ death.deathCount }}</ion-label>
		</ion-item>

	</ion-card>

</ion-content>